body{
    padding-left: 320px;
}
table{
    width: 50%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    
}
#player-a-bp{
    background-color: hsl(240, 27%, 82%);
}
#player-b-bp{
    background-color: hwb(39 65% 20%);
}
td {
    border: 4px solid rgb(102, 179, 16);
    height: 50px;
    
}
td.b-td{
    background-color: hsl(34, 64%, 84%);
}
td.a-td{
    background-color: hwb(230 67% 31%);
}
p   {
    font-size: larger;
    color: #2139bd;
    font-family: Arial, Helvetica, sans-serif;
  }
